<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="albums-back">
   <div class="artist-info">
    {{#each albums}}
    <div class="artist-card">
        <h2>{{this.name}}</h2>
        <img class="artist-pic" src="{{this.images.0.url}}" alt="">
        <a class="artist-btn" href="/track-info/{{this.id}}"> View Tracks</a>
    </div>
    {{/each}}
   </div>

</body>
</html>